* {
    margin: 0;
}

pre.qpresent-line-numbers{
    width: auto;
}

span.qpresent-line-number:first-child {
    counter-increment: line 0;
}

span.qpresent-line-number {
    counter-increment: line;
}

table.qpresent-code-table.qpresent-keep-line-number {
    counter-increment: line;
}

table.qpresent-code-table:not(.qpresent-keep-line-number) {
    counter-reset: line 1;
}

.qpresent-twocol-container {
    display: table;
    width: 100%;
}

.qpresent-twocol-left,
.qpresent-twocol-right {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 0 0.5em;
}

html,
.qpresent-page-outer-container {
    overflow: hidden;
}

.qpresent-page-content {
    box-sizing: border-box;
}

.qpresent-page-content.qpresent-title {
    display: table-cell;
    vertical-align: middle;
}

.qpresent-page {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
}

.qpresent-page-number {
    position: absolute;
}

.qpresent-overlay {
    pointer-events: none;
}

.qpresent-navigation-button-container {
    pointer-events: auto;
    transform-origin: left bottom;
}

@page {
    size: A4 landscape;
    margin: 0;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .qpresent-page {
        page-break-after: always;
    }

    .qpresent-overlay {
        display: none;
    }
}

@media screen {
    html, body {
        background: black;
    }

    .qpresent-page-outer-container,
    .qpresent-overlay {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .qpresent-page {
        transform-origin: 0 0;
    }
}