body {
    font-family: "Sawarabi Mincho", serif;
    font-size: 7mm;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 15mm;
    border-bottom: 1px solid;
    margin-bottom: 5mm;
}

strong {
    font-family: 'Noto Sans Japanese', sans-serif;
}

em {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.qpresent-code-table {
    width: 100%;
    border: solid;
    border-width: 1px;
}

pre, code.hljs, span.qpresent-line-number {
    font-family: 'Courier New', monospace;
    font-size: 5mm;
    padding: 0;
}

code.hljs {
    overflow: visible;
}

.qpresent-code-container {
    width: 100%;
}

.block {
    margin-bottom: 3mm;
}

.qpresent-page, .qpresent-page-inner-container {
    background: white !important;
}

.qpresent-page {
    padding: 5mm;
}

.qpresent-page-number {
    font-size: 6mm;
    right: 5mm;
    bottom: 5mm;
}

.qpresent-page-number-separator {
    margin: 0 1mm;
}


.qpresent-navigation-button-container {
    position: absolute;
    left: 3mm;
    bottom: 3mm;
}

.qpresent-navigation-button-separator {
    margin-left: 30px;
}

.qpresent-navigation-button {
    width: 0;
    height: 0;
    padding: 0;
    background: none;
}

.qpresent-prev-button {
    border-top: 15px solid transparent;
    border-right: 15px solid black;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}

.qpresent-prev-button:hover {
    border-right-color: lightgray;
}

.qpresent-prev-button:active {
    border-right-color: gray;
}

.qpresent-next-button {
    padding-left: 5px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
}

.qpresent-next-button:hover {
    border-left-color: lightgray;
}

.qpresent-next-button:active {
    border-left-color: gray;
}